body{
    margin: 0;
    padding: 0; 
    min-height: 100vh; 
    display: flex;
    align-items: center; 
    justify-content: center;
    
}
.App-text {
    font-size: calc(5px + 4vmin);
    font-weight: bold;
    justify-self: center;
    position: absolute;
    margin-bottom: 150px;
    padding: 20px;
  }
  
  /* Hover effect for the sentence */
  .App-text:hover {
    color: #391253;
  }
  
  .App-gif {
    justify-self: flex-start;
    position: absolute;
    width: 200px;
    height: 250px;
  }
  
  .App-button {
    margin: 10px;
    padding: 8px 12px;
    font-size: 15px;
    cursor: pointer;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    justify-self: center;
    position: relative;
    
  }
  
  .App-button:before {
    content: "\1F498";
    font-size: 20px;
    margin-right: 5px;
  }
  
  /* Hover effect */
  .App-button:hover {
    background-color: #e60000;
  }
  
  /* Style for the second button (No) */
  .App-button:nth-child(2) {
    background-color: #666;
    transition: background-color 0.3s ease;
  }
  
  .App-button:nth-child(2):before {
    content: "\1F494";
    color: #666;
  }
  
  /* Hover effect for the second button */
  .App-button:nth-child(2):hover {
    background-color: #404040;
  }
  
  .App-gif-sucess {
    justify-self: flex-start;
    position: absolute;
    margin-left: 50px;
    width: 175px;
    height: 225px;
  }

  .App-text-success {
    font-size: 10px;
    line-height: 1;
    justify-content: center;
  }
  
  .App-text-success:before {
    content: "\1F496";
    color: #ff4d4d;
    margin-right: 5px;
    font-size: 24px;
  }
  
  /* Hover effect for the success text */
  .App-text-success:hover {
    color: #ff4d4d;
  }
  
  .App-text-date {
    font-size: 18px;
  }
  
  .App-text-date:before {
    content: "\1F495";
    color: #ff4d4d;
    margin-right: 5px;
  }
  
  .App-success {
    padding: 20px;
  }